<div class="content-wrapper">
	<div class="content-header row">
	</div>
	<div class="content-body">
		<section class="flexbox-container">
			<div class="col-12 d-flex align-items-center justify-content-center">
				<div class="col-md-4 col-10 box-shadow-2 p-0">
					<div class="card border-grey border-lighten-3 m-0">
						<div class="card-content">
							<form class="form-horizontal form-simple" novalidate>
								<div class="card w-80">
									<div class="card-body">
										<div class="card-header border-0">
											<div class="card-title text-center">
												<div class="p-1">
													<img src="assets/braincubate-images/braincubate-logo.png" class="braincubate-logo" alt="branding logo">
												</div>
											</div>
											<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2 w-900">
												<span class="f-16" style="color:#808080; font-weight:900;">Signu Up with Braincubate</span>
											</h6>
										</div>
										<div>
											<label class="label f-16">Email</label>
											<input type="text" class="form-control form-control-lg f-16" id="user-name" name="username" placeholder="Your Username" required>
										</div>
										<br>
										<div>
											<label class="label f-16">Password</label>
											<input type="password" class="form-control form-control-lg f-16" id="user-password" name="password" placeholder="Enter Password"
											 required>
										</div>
										<br>
										<div>
											<label class="label f-16">Conform Password</label>
											<input type="password" class="form-control form-control-lg f-16" id="conform-user-password" name="conform-password" placeholder="Enter Conform Password"
											 required>
										</div>
										<br>
										<div class="btn-center">
											<button type="submit" class="btn btn-lg btn-block btn-color" [routerLink]='["/dashboard"]'>
												Sign Up</button>
										</div>
										<br>
										<br>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="content-footer">

	</div>
</div>