<div class="content-wrapper" ng-app="">
    <form id="filterPanel" name="braincubateFilterForm" novalidate #braincubateFilterForm="ngForm" class="form">
        <div class="row">
          <section id="prerequisite" class="card" style="width: 100%;">
            <a class="accordion collapsed"  data-toggle="collapse" href="#filterPanelToggle">
              <div class="card-header c-bg">
                <label class="f-16 c-white filter-white">
                  <i class="fa fa-filter fa-lg"></i> Filters: </label>
                <div class="heading-elements">
                  <ul class="list-inline mb-0 mt-4">
                    <li>
                        <div class="right-icon"><i class="right fa"></i></div>
                      </li>
                  </ul>
                </div>
              </div>
            </a>
            <div class="card-content collapse" id="filterPanelToggle">
              <div class="card-body">
                <form [formGroup]="announcementForm">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 mb-2">
                        <label>Status</label>
                        <select class="form-control" formControlName="status" >
                            <option value="" disabled selected>Select Type</option>
                            <option value="1">NEW</option>
                            <option value="2">SENT</option>
                            <option value="3">FAILED</option>
                          </select>
                      </div>
                      <div class="col-md-4 mb-2">
                        <label>Type</label>
                        <select class="form-control" formControlName="type">
                            <option value="" disabled selected>Select Type</option>
                            <option *ngFor="let typeData of typeOptions" value="{{typeData.value}}">{{typeData.name}}</option>
                          </select>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="d-flex justify-content-end mt-1">
                  <button class="btn btn-primary" (click)="filterSearch()">Filter</button> &nbsp;&nbsp;
                  <button class="btn btn-secondary" (click)="reset()">Reset</button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </form>
  <div class="content-header row">
    <div class="col-md-6">
      <h3 class="title_font_style">ANNOUNCEMENTS</h3>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/announcement'">Announcements</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
      <div class="row">
        <div class="col-md-10">
          <div class="search-box">
          <input type="text" placeholder="Search.." name="search2" class="form-control search_input"
            placeholder="Search By Title" [(ngModel)]="textValue" (ngModelChange)="search()" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-info btn_create f-mb createBtn" [routerLink]="['create-announcement']"
              [queryParams]="{btnname:'create', id: announcementData?._id}">
              <span>Create</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  
  <div class="card">
    <div class="table-responsive table-striped">
      <table class="table middile-align mb-0">
        <thead>
          <tr>
            <!-- <th style="text-align: center">ICON</th> -->
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>STATUS</th>
            <th>TYPE</th>
            <!-- <th>CREATED ON</th> -->
            <th >ACTIONS</th>
          </tr>
        </thead>
        <tbody *ngIf="announcementData?.length">
          <tr *ngFor="let announcement of announcementData">           
            <td class="text-info cursor-pointer"> 
                <div class="media">
                    <div class="media-left pr-1">
                        <span class="user-avatar avatar-md"*ngIf="announcement?.icon;else noIcon">
                            <img  class="rounded-circle" src="{{announcement?.icon}}" alt="img">
                        </span>
                        <ng-template #noIcon>
                          <span class="user-avatar avatar-md">
                              <img class="rounded-circle" src="../../assets/braincubate-images/no_image_png.png" alt="img">
                          </span>
                        </ng-template>
                    </div>
                    <div class="media-body media-middle">
                        <a [routerLink]="['view-announcement']" [queryParams]="{ id: announcement?._id }"> {{announcement?.title}} </a> 
                      </div>
                  </div>
            </td> 
            <td class="break-word">
              <span *ngIf="announcement?.desc;else noDesc">
                {{ announcement?.desc.length > textLimit ? announcement?.desc.substring(0,100)+'.....'  : announcement?.desc}}
              </span>
              <ng-template #noDesc>
                -
              </ng-template>

            </td>
            <td>
              <span class="{{getAnnouncementData(announcement?.status, true)}}">
                {{getAnnouncementData(announcement?.status, false)}}
              </span>
            </td>

            <td>{{announcement?.type}}</td>
            <!-- <td>{{announcement?.created_at | date : 'mediumDate'}}</td> -->

            <td>
              <span class="text-success cursor-pointer" [routerLink]="['create-announcement']"
                [queryParams]="{ id: announcement?._id , name: announcement?.name, btnname: 'edit'}" title="Edit" style="outline: none">
                <i class="ft-edit mr-2"></i>
              </span>

              <span class="text-success cursor-pointer" [routerLink]="['view-announcement']" 
                  [queryParams]="{ id: announcement?._id }" title="View" style="outline: none">
                  <i class="ft-eye mr-2"> </i>
              </span>

              <span class="text-success cursor-pointer" (click)="sendModal(announcement._id)" title="Send" style="outline: none">
                <!-- <i class="ft-share mr-2"></i> -->
                <button type="button" class="btn btn-primary btn-sm">SEND</button>
              </span>

            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div *ngIf="!announcementData?.length" class="d-flex justify-content-center pt-2">
        <p>Data Not Found</p>
      </div> -->
      <div *ngIf="noResults">
        <div *ngIf="!announcementData?.length" class="d-flex justify-content-center pt-2">
          <p class="text-danger"><strong>{{errorMsg}}</strong></p>
        </div>
      </div>
      <footer class="d-flex justify-content-end mt-1" *ngIf="announcementData?.length">
        <ngb-pagination class=" pagination " [collectionSize]="queryCount " [(page)]="page " [pageSize]="limit "
          [maxSize]="5 " [ellipses]="false " [boundaryLinks]="true " (pageChange)="loadPage(page) ">
        </ngb-pagination>
      </footer>
    </div>
  </div>
</div>

