<div class="content-wrapper">
  <div class="content-header row">
    <div class="col-md-6">
      <h3 class="title_font_style">ANNOUNCEMENTS</h3>
      <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="'/announcement'">Announcements</a>
            </li>
            <li class="breadcrumb-item active">{{this.title}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div><br/>
  <div class="content-body">
    <div class="card">
      <div class="card-content collpase show">
        <div class="card-body">
          <form [formGroup]="createAnnouncementForm">
            <div class="form-group">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label>Announcement Title</label>
                    <span class="required_mark">*</span>
                    <input type="text" class="form-control" formControlName="announcement_title"
                      placeholder="Enter title" required
                      [ngClass]="{ 'is-invalid': submitted && f.announcement_title.errors }" />
                    <div *ngIf="submitted && f.announcement_title.errors" class="invalid-feedback">
                      <div *ngIf="f.announcement_title.errors.required">Announcement title is required</div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-2">
                    <label>Type</label>
                    <span class="required_mark">*</span>
                    <select class="form-control" formControlName="type"
                      [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                      <option value="" disabled selected>Select Type</option>
                      <option *ngFor="let typeData of typeOptions" value="{{typeData.value}}">{{typeData.name}}</option>
                    </select>
                    <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                      <div *ngIf="f.type.errors.required">Type is required</div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-2">
                    <label>Description</label>
                    <textarea type="text" class="form-control" formControlName="description"
                      placeholder="Enter description"></textarea>
                  </div>
                  <div class="col-md-4 mb-2">

                    <label class="testCss">Game Icon</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile1" formControlName="icon_name"
                        (change)="onImageUpload($event)" accept="image/*">
                      <div *ngIf="this.game_icon_name; else imageLabel">
                        <label class="custom-file-label" for="customFile1">
                          <small class="imgName">
                            <!-- {{this.game_icon_name}} -->
                            {{ this.game_icon_name.length > imgLabelLimit ?this.game_icon_name.substring(0,imgLabelLimit)+'.....' + imgExt : this.game_icon_name}}

                          </small>
                        </label>
                      </div>
                      <ng-template #imageLabel>
                        <label class="custom-file-label" for="customFile1">Choose File</label>
                      </ng-template>
                      <!-- <h5 *ngIf="this.game_icon_name">File Name: {{this.game_icon_name}}</h5> -->
                    </div>
                  </div>
                  <div class="col-md-2 mb-2 mt-2" *ngIf="img_url">
                    <img [src]="img_url" style="height: 70px" class="img-fluid">
                  </div>
                  <!-- <label>Status</label>
                    
                    <select class="form-control" formControlName="status">
                      <option *ngFor="let statusData of statusOptions" value="{{statusData.value}}"> {{statusData.name}} </option>
                    </select> -->
                </div>
              </div>

              <!-- <div class="row">
                  <div class="col-md-6 mb-2">
                   
                  </div>
                  
                </div> -->
              <!-- </div> -->
            </div>
          </form>
          <div class="d-flex justify-content-center mt-1">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">{{this.submitBtn}}</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
