<div id="stackMenu" data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
	<div class="main-menu-content">
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
			<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
				<a [routerLink]="['/dashboard']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/dashboard.png">
					<span class="menu-title">Dashboard</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/users']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/users.png">
					<span class="menu-title">Users</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/levels']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/trend.png">
					<span class="menu-title">Levels</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/games']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/gamepad-controller.png">
					<span class="menu-title">Games</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/announcement']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/megaphone.png">
					<span class="menu-title">Announcements</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/achievement']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/trophy.png">
					<span class="menu-title">Achievements</span>
				</a>
			</li>

			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/settings']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/settings.png">
					<span class="menu-title">Settings</span>
				</a>
			</li>
			<!-- <li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/run-chart']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/trend.png">
					<span class="menu-title">Run</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/pareto-chart']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/pareto.png">
					<span class="menu-title">Pareto</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/trend-chart']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/trend.png">
					<span class="menu-title">Trend</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/bubble-chart']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/bubble.png">
					<span class="menu-title">Bubble</span>
				</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/radar-chart']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/radar.png">
					<span class="menu-title">Radar</span>
				</a>
			</li>
			<li class="nav-item has-sub">
				<a href="#">
					<img class="left-menu-icon-align" src="assets/braincubate-images/advanced.png">
					<span class="menu-title" data-i18n="">Advanced</span>
				</a>
				<ul class="menu-content">
					<li class="nav-item" routerLinkActive="active">
						<a [routerLink]="['/box-plot-chart']">
							<img class="left-menu-icon-align" src="assets/braincubate-images/box-plot.png">
							<span class="menu-title">Box Plot</span>
						</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a [routerLink]="['/spc-chart']">
							<img class="left-menu-icon-align" src="assets/braincubate-images/spc.png">
							<span class="menu-title">SPC Chart</span>
						</a>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<a [routerLink]="['/heat-map-chart']">
							<img class="left-menu-icon-align" src="assets/braincubate-images/heat-map.png">
							<span class="menu-title">Heat Chart</span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a [routerLink]="['/target-settings']">
					<img class="left-menu-icon-align" src="assets/braincubate-images/target-settings.png">
					<span class="menu-title">Target Settings</span>
				</a>
			</li> -->

		</ul>
		<!-- <ul class="nav nav-sidebar" id="logo_image">
			<li>
				<img class="left-menu-icon-align" src="assets/braincubate-images/logo.png">
			</li>
		</ul> -->
	</div>
</div>